
.dy-finance-calculator-widget__topbar {
  background-color: #F4F4F4;
  padding: 8px 14px;

  p {
    margin: 0;
    font-size: 14px;
    line-height: 14px;

    @media (max-width: 1152px) {
      font-size: 13px;
    }

    span {
      color: #E7112D;
      font-weight: bold;
    }
  }
}