
#dy-finance-calculator-widget {
  width: 100%;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 18px;
  margin-top: 12px;
}

.finance-info {
  display: none !important;
}